Package: scop-rest-api
Version: MAJOR.MINOR.SUB-PATCH~CODENAME
Section: base
Priority: optional
Architecture: amd64
Source: scop-rest-api
Depends: run-one, rsync
Build-Depends: nodejs, lsb-release, fakeroot
Provides: scop-rest-api 
Maintainer: Eugene Kulesha <kulesha@gmail.com>
Description: REST Web Service providing access to the SCOP database
